/* It selects html and body */
html, body {
    margin: 0px;
    font-family: Noto sans JP;
    display: flex;
    justify-content: center;
}


/* This wrapper is acting as a page container attached to a div (division) */
.wrapper {
    border-radius: 4px;
    width: 1350px; /*this is for the length from left to right*/
    margin: 25px auto;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.75);
}


/* Website link attached to a div (division) to link my LinkedIn profil page */
.link {
    float: left;
    height: 55px;
    line-height: 55px;
    color: #333;
    font-weight: bold;
    padding: 0px 15px;
}

/* For all uls (unordered lists) inside all navs (navigations) */
nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position:relative;
}

/* For all lis (list items) inside all navs (navigations) */
nav li {
    display: block;
    float: left;
    text-align: center;
}

/* For all uls (unordered lists) that are direct child of all lis (list items), in all navs (navigations) */
nav li > ul {
    display: none;
    position: absolute;
}

/* For all lis (list items) that exist inside all lis (list items), inside all navs (navigations) */
nav li li {
    background-color: #CC0066;
}

/* For all lis (list items) that are direct child of all lis (list items), that are hovered inside all navs (navigations) */
nav li:hover > ul {
    display: block;  
}

/* For all navs (navigations) */
nav {
    float: right;
    margin-right: 15px;
}

/* For all as (anchors) inside all ps (paragraphs), inside the main */
main p a {
    display: block;
    color: blue;
    text-align: center;
    text-decoration: underline;
}

/* For all as (anchors) inside all ps (paragraphs), that are hovered inside the main */
main p a:hover {
    background-color: violet;
}


/* For all as (anchors) */
a {
    display: block;
    padding: 0px 15px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    text-decoration: none;
}

/* For all as (anchors) that are hovered */
a:hover {
    background-color: #2D1141;
}

/* For all headers */
header {
    border-radius: 4px 4px 0px 0px;
    height: 50px;
    background-color: #CC0066;
    font-family: Lobster;
    position: fixed;
    top: 0px;
    left: 45px;
    right: 45px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.75);
    z-index: 4;
}

/* For all mains */
main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* For all h1s */
h1 {
    text-align: center;
    margin-top: 0px;
    font-family: satisfy;
}

/* For all h3s */
h3 {
    text-align: center;
    background-color: #2D1141;
    color: white;
    font-family: satisfy;
}

/* For all h4s */
h4 {
    text-align: center;
    color: black;
    font-family: satisfy;
}

h5{
    font-size: 18px;
}

h6 p {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-size: 20px;
    color: gold;
    margin-left: 5%;
}

/* For all footers */
footer {
    height: 50px;
    line-height: 50px;
    background-color: #33CCFF;
    border-radius: 0px 0px 4px 4px;
    color: #FFF;
    text-align: center;
}

.upper_part{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.upper_part img{
    width: 30%; 
    height: 30%; 
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 10%;
}

.coordonnees{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

img{
    width: 30%; 
    height: 30%; 
}

video{
    width: 30%; 
    height: 30%;
    margin-left: 10%;
}

article{
    width: 100%;
}

.formulaire > a{
    box-shadow: lightslategray;
    color: black;
    border: 5%;
    border: black;
    text-align: center;
}